<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Demo</title>

    <script src="https://cdn.bootcss.com/matter-js/0.12.0/matter.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://sinneren.github.io/jToggler/jtoggler.styles.css">
    <script src="https://sinneren.github.io/jToggler/jtoggler.js"></script>
</head>

<body>
<input type="checkbox" checked class="jtoggler">画图模式</input>

<canvas style="position: absolute; display: block" id="canvas" width="1400" height="800"></canvas>

<script src="../static/js/script/friction.js"></script>



</body>

</html>